<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commMapper">

	<resultMap id="commResultSet" type="Community" >
		<result column="comm_no" property="commNo" />
		<result column="comm_src" property="commSrc" />
		<result column="comm_content" property="commContent" />
		<result column="comm_createdate" property="commCreateDate" />
		<result column="comm_cate" property="commCate" />
		<result column="comm_status" property="commStatus" />
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
	</resultMap>
	
	<resultMap id="forResultSet" type="Forum" >
		<result column="for_no" property="forNo" />
		<result column="for_src" property="forSrc" />
		<result column="for_title" property="forTitle" />
		<result column="for_info" property="forInfo" />
		<result column="for_createdate" property="forCreateDate" />
		<result column="for_count" property="forCount" />
		<result column="for_comment" property="forComment" />
		<result column="for_status" property="forStatus" />
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
		<!-- <result column="" property="" /> -->
	</resultMap>
	
	<select id="selectCommCount" resultType="_int" >
		select
		       count(*)
		  from community
		 where comm_cate = #{cate}
		   and comm_status = 0
	</select>
	
	<select id="selectCommList" resultMap="commResultSet">
		select
		       comm_no
		     , comm_src
		     , comm_content
		     , comm_createdate
		     , comm_cate
		     , comm_status
		     , user_no
		     , user_id
		  from community
		  join member using(user_no)
		 where comm_cate = #{cate}
		   and comm_status = 0
		 order
		    by comm_createdate desc
	</select>
	
	<select id="selectForumCount" resultType="_int">
		select
		       count(*)
		  from forum
		 where for_status = 0
	</select>
	
	<select id="selectForumList" resultMap="forResultSet">
		select
		       for_no
		     , for_src
		     , for_title
		     , for_info
		     , for_createdate
		     , for_count
		     , for_comment
		     , for_status
		     , user_no
		     , user_id
		  from forum
		  join member using(user_no)
		 where for_status = 0
		 order
		    by for_createdate desc
	</select>
	
	<update id="increaseCount" parameterType="_int">
		update
		       forum
		   set for_count = for_count+1
		 where for_status = 0
		   and for_no = #{ fno }
	</update>
	
	<select id="selectForumDetail" parameterType="_int" resultMap="forResultSet">
		select
		       for_no
		     , for_src
		     , for_title
		     , for_info
		     , for_createdate
		     , for_count
		     , for_comment
		     , for_status
		     , user_no
		     , user_id
		  from forum
		  join member using(user_no)
		 where for_no = #{ fno }		       
	</select>
	

</mapper>
