<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commMapper">

	<resultMap id="commResultSet" type="Community" >
		<result column="comm_no" property="commNo" />
		<result column="comm_origin_src" property="commOriginSrc" />
		<result column="comm_change_src" property="commChangeSrc" />
		<result column="comm_content" property="commContent" />
		<result column="comm_createdate" property="commCreateDate" />
		<result column="comm_cate" property="commCate" />
		<result column="comm_status" property="commStatus" />
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
	</resultMap>
	
	<resultMap id="forResultSet" type="Forum" >
		<result column="for_no" property="forNo" />
		<result column="for_origin_src" property="forOriginSrc" />
		<result column="for_change_src" property="forChangeSrc" />
		<result column="for_title" property="forTitle" />
		<result column="for_info" property="forInfo" />
		<result column="for_createdate" property="forCreateDate" />
		<result column="for_count" property="forCount" />
		<result column="for_comment" property="forComment" />
		<result column="for_status" property="forStatus" />
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
		<!-- <result column="" property="" /> -->
	</resultMap>
	
	<resultMap id="clikesResultSet" type="CommLikes" >
		<result column="user_no" property="userNo" />
		<result column="comm_no" property="commNo" />
		<result column="clike_createdate" property="clikeCreateDate" />
	</resultMap>
	
	<resultMap id="replyResultSet" type="Reply" >
		<result column="for_no" property="forNo" />
		<result column="co_no" property="coNo" />
		<result column="co_content" property="coContent" />
		<result column="co_createdate" property="coCreateDate" />
		<result column="co_updatedate" property="coUpdateDate" />
		<result column="co_status" property="coStatus" />
		<result column="reco_count" property="recoCount" />
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
	</resultMap>
	
	<resultMap id="subReplyResultSet" type="SubReply" >
		<result column="co_no" property="coNo" />
		<result column="reco_no" property="recoNo" />
		<result column="reco_content" property="recoContent" />
		<result column="reco_createdate" property="recoCreateDate" />
		<result column="reco_updatedate" property="recoUpdateDate" />
		<result column="reco_status" property="recoStatus" />
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
	</resultMap>
	
	<select id="selectCommCount" resultType="_int" >
		select
		       count(*)
		  from community
		 where comm_cate = #{cate}
		   and comm_status = 0
	</select>
	
	<select id="selectCommList" resultMap="commResultSet">
		select
		       comm_no
		     , comm_origin_src
		     , comm_change_src
		     , comm_content
		     , comm_createdate
		     , comm_cate
		     , comm_status
		     , user_no
		     , user_id
		  from community
		  join member using(user_no)
		 where comm_cate = #{cate}
		   and comm_status = 0
		 order
		    by comm_createdate desc
	</select>
	
	<insert id="insertComm" parameterType="Community">
		insert
          into community
             (
                comm_no
              , comm_origin_src
              , comm_change_src
              , comm_content
              , comm_cate
              , user_no
             )
        values
             ( 
                seq_comm_no.nextval
              , #{ commOriginSrc }
              , #{ commChangeSrc }
              , #{ commContent }
              , #{ commCate }
              , (
		          select
		                 user_no
		            from member
		           where user_id = #{ userId }
		        )
             )
	</insert>
	
	<select id="selectForumCount" resultType="_int">
		select
		       count(*)
		  from forum
		 where for_status = 0
	</select>
	
	<select id="selectForumList" resultMap="forResultSet">
		select
		       for_no
		     , for_origin_src
		     , for_change_src
		     , for_title
		     , for_info
		     , for_createdate
		     , for_count
		     , for_comment
		     , for_status
		     , user_no
		     , user_id
		  from forum
		  join member using(user_no)
		 where for_status = 0
		 order
		    by for_createdate desc
	</select>
	
	<update id="increaseCount" parameterType="_int">
		update
		       forum
		   set for_count = for_count+1
		 where for_status = 0
		   and for_no = #{ fno }
	</update>
	
	<select id="selectForumDetail" parameterType="_int" resultMap="forResultSet">
		select
		       for_no
		     , for_origin_src
		     , for_change_src
		     , for_title
		     , for_info
		     , for_createdate
		     , for_count
		     , for_comment
		     , for_status
		     , user_no
		     , user_id
		  from forum
		  join member using(user_no)
		 where for_no = #{ fno }		       
	</select>
	
	<insert id="insertForum" parameterType="Forum">
		insert
          into forum
             (
                for_no
              , for_origin_src
              , for_change_src
              , for_title
              , for_info
              , user_no
             )
        values
             ( 
                seq_comm_no.nextval
              , #{ forOriginSrc }
              , #{ forChangeSrc }
              , #{ forTitle }
              , #{ forInfo }
              , (
		          select
		                 user_no
		            from member
		           where user_id = #{ userId }
		        )
             )
	</insert>
	
	<select id="selectCommLikes" resultMap="clikesResultSet" parameterType="_int" >
		select
		       USER_NO
		     , COMM_NO
		     , CLIKE_CREATEDATE
		  from CLIKES
		 where user_no = #{ userNo }
	</select>
	
	<select id="selectReplyList" resultMap="replyResultSet" parameterType="_int">
		select
		       FOR_NO
		     , CO_NO
		     , CO_CONTENT
		     , CO_CREATEDATE
		     , CO_UPDATEDATE
		     , CO_STATUS
		     , RECO_COUNT
		     , USER_NO
		     , USER_ID
		  from FCOMMENTS
		  join MEMBER using(user_no)
		 where for_no = #{ fno }
		   and co_status = 0
		  order
		     by co_createdate desc
	</select>
	
	<select id="selectSubReplyList" resultMap="subReplyResultSet" parameterType="_int" >
		 select
		        CO_NO
		      , RECO_NO
		      , RECO_CONTENT
		      , RECO_CREATEDATE
		      , RECO_UPDATEDATE
		      , RECO_STATUS
		      , USER_NO
		      , USER_ID
		   from FRECOMMENTS
		   join member using(user_no)
	   	  where co_no = #{ coNo }
		    and reco_status = 0
		  order
		     by reco_createdate desc
	</select>
	
	<update id="replyUpdate" parameterType="Reply">
		UPDATE MACSIM.FCOMMENTS t
		   SET t.CO_CONTENT = #{coContent}
		 WHERE t.CO_NO = #{coNo}
	</update>
	
	<update id="subReplyUpdate" parameterType="Reply">
		UPDATE MACSIM.FRECOMMENTS t
		   SET t.RECO_CONTENT = #{coContent}
		 WHERE t.RECO_NO = #{coNo}
	</update>
	
	<update id="replyDelete" parameterType="_int">
		update fcomments
		   set co_status = 3
		 where co_no = #{coNo}
	</update>
	
	<update id="subReplyDelete" parameterType="_int">
		update frecomments
		   set reco_status = 3
		 where reco_no = #{coNo}
	</update>
	
	<select id="selectLikeLength" resultType="_int" parameterType="_int">
		select
		       COUNT(*)
		  FROM CLIKES
		 where CLIKES.COMM_NO = #{cNo}
	</select>
	
	<select id="selectIsLike" resultType="_int" parameterType="CommLikes">
	SELECT
	       COUNT(*)
	  FROM MACSIM.CLIKES
	 WHERE CLIKES.COMM_NO = #{commNo}
	   AND CLIKES.USER_NO = #{userNo}
	</select>
	
	<insert id="replyInsert" parameterType="Reply">
		insert
		  into FCOMMENTS
		     (
		       CO_NO
		     , FOR_NO
		     , CO_CONTENT
		     , USER_NO
		     )
		VALUES
		     (
		       seq_co_no.nextval
		     , #{ forNo }
		     , #{ coContent }
		     , #{ userNo }
		     )
	</insert>
	
	<insert id="subReplyInsert" parameterType="Reply">
		insert
		  into FRECOMMENTS
		     (
		       RECO_NO
		     , CO_NO
		     , RECO_CONTENT
		     , USER_NO
		     )
		VALUES
		     (
		       seq_reco_no.nextval
		     , #{ coNo }
		     , #{ coContent }
		     , (
		          select
		                 user_no
		            from member
		           where user_id = #{ userId }
		        )
		     )
	</insert>
	
	<update id="replyIncrease" parameterType="Reply">
		update forum
		   set for_comment = for_comment + 1
		 where for_no = #{ forNo }
	</update>
	
	<select id="selectReplyOne" resultMap="replyResultSet" parameterType="Reply">
		select
		       FOR_NO
		     , CO_NO
		     , CO_CONTENT
		     , CO_CREATEDATE
		     , CO_UPDATEDATE
		     , CO_STATUS
		     , RECO_COUNT
		     , USER_NO
		     , USER_ID
		  from FCOMMENTS
		  join MEMBER using(user_no)
		 where for_no = #{ forNo }
		   and user_no = #{ userNo }
		   and co_content = #{ coContent }
	</select>
	
	<select id="selectSubReplyOne" resultMap="subReplyResultSet" parameterType="SubReply">
		select
		        CO_NO
		      , RECO_NO
		      , RECO_CONTENT
		      , RECO_CREATEDATE
		      , RECO_UPDATEDATE
		      , RECO_STATUS
		      , USER_NO
		      , USER_ID
		   from FRECOMMENTS
		   join member using(user_no)
	   	  where co_no = #{ coNo }
	   	    and user_id = #{ userId }
	   	    and reco_content = #{ coContent }
	</select>
	
	<select id="updateFormComm" resultMap="commResultSet" parameterType="_int" >
		select
		       comm_no
		     , comm_origin_src
		     , comm_change_src
		     , comm_content
		     , comm_createdate
		     , comm_cate
		     , comm_status
		     , user_no
		     , user_id
		  from COMMUNITY
		  join MEMBER using(user_no)
		 where comm_no = #{ commNo }
		   and comm_status = 0
	</select>
	
	<update id="updateComm" parameterType="Community">
		update community
		   set comm_origin_src = #{ commOriginSrc }
		     , comm_change_src = #{ commChangeSrc }
		     , comm_content = #{ commContent }
		     , comm_cate = #{ commCate }
		 where comm_no = #{ commNo }
		   and user_no = #{ userNo }
	</update>
	
	<!-- 
	<select id="" resultMap="" parameterType="">
		select
		       ph_no
		     , pdate
		     , point
		     , user_no
		     , category
		     , point_history
		  from POINT_HISTORY
		 where user_no = #{ userNo }
		   and category like '포럼입장%'
	</select>
	 -->

</mapper>
