<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="eventMapper">

	<resultMap id="eventResultSet" type="Event">
		<result column="ev_no" property="evNo"/>
		<result column="user_id" property="userNo"/>
		<result column="ev_title" property="evTitle"/>
		<result column="ev_content" property="evContent"/>
		<result column="ev_starttime" property="evStartTime"/>
		<result column="ev_endtime" property="evEndTime"/>
		<result column="beer_no" property="beerNo"/>
		<result column="req_time" property="reqTime"/>
		<result column="limit_no" property="limitNo"/>
		<result column="apply_no" property="applyNo"/>
		<result column="ev_point" property="evPoint"/>
		<result column="click_no" property="clickNo"/>
		<result column="status" property="status"/>
		<result column="ev_date" property="evDate"/>
		<result column="ev_thumb" property="evThumb"/>
		<result column="ev_deny" property="evDeny"/>		
	</resultMap>
  	
  	<select id="selectEventCount" resultType="_int">
  		select
		        count(*)
		  from  event
		 where  status = 'A'
  	</select>
  	
  	<select id="selectEventList" resultMap="eventResultSet">
  		select
		        ev_no
		     ,  user_id
		     , ev_title
		     , ev_content
		     , ev_starttime
		     , ev_endtime
		     , click_no
		     , ev_date
		     , ev_thumb
		  from event
		  join member using (user_no)
  	</select>
  	
  	<update id="increaseCount" parameterType="_int"	>
  		update 
  			    event
  		   set  click_no = click_no +1
  		 where  ev_no = #{eno} 
  	</update>
  	
  	<select id="selectEvent" parameterType="_int" resultMap="eventResultSet">
  		select
  			   ev_no
  			 , user_id  
  			 , ev_title
  			 , ev_content
  			 , ev_starttime
  			 , ev_endtime
  			 , beer_name
  			 , req_time
  			 , limit_no
  			 , apply_no
  			 , ev_point
  			 , ev_date
  			 , ev_thumb
  	      from event
  	      join member using(user_no)
  	      join beer using(beer_no)
  	     where  ev_no = #{eno}
  	</select>
</mapper>
