<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="eventMapper">

	<resultMap id="eventResultSet" type="Event">
		<result column="ev_no" property="evNo"/>
		<result column="user_id" property="userNo"/>
		<result column="ev_title" property="evTitle"/>
		<result column="ev_content" property="evContent"/>
		<result column="ev_starttime" property="evStartTime"/>
		<result column="ev_endtime" property="evEndTime"/>
		<result column="beer_no" property="beerNo"/>
		<result column="beer_name" property="beerNo"/>
		<result column="req_time" property="reqTime"/>
		<result column="limit_no" property="limitNo"/>
		<result column="apply_no" property="applyNo"/>
		<result column="ev_point" property="evPoint"/>
		<result column="click_no" property="clickNo"/>
		<result column="status" property="status"/>
		<result column="ev_date" property="evDate"/>
		<result column="ev_thumb" property="evThumb"/>
		<result column="ev_deny" property="evDeny"/>		
	</resultMap>

     	
	<resultMap id="AttachmentResultSet" type="Attachment">
		<result column="att_no" property="attNo"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="ev_no" property="evNo"/>
		<result column="pno" property="pNo"/>
	</resultMap>
  	
  	 
  	<resultMap id="EventAttendeeResultSet" type="EventAttendee">
  		<result column="evat_no" property="evatNo"/>
  		<result column="ev_no" property="evNo"/>
  		<result column="user_no" property="userNo"/>
  		<result column="event_entry_status" property="eventEntryStatus"/>
  		<result column="event_entry_date" property="eventEntryDate"/>
  		<result column="ev_point" property="evPoint"/>
  	</resultMap>
  	
  	<resultMap id="EvReplyResultSet" type="EvReply">
  		<result column="ev_rpno" property="evRpno"/>
  		<result column="ev_no" property="evNo"/>
  		<result column="user_no" property="userNo"/>
  		<result column="user_id" property="userNo"/>
  		<result column="ev_rpcontent" property="evRpContent"/>
  		<result column="rp_date" property="rpDate"/>
  		<result column="status" property="status"/>
  	</resultMap>
  	
  	
  	<select id="selectEventCount" resultType="_int">
  		select
		        count(*)
		  from  event
		 where  status = 'A'
  	</select>
  	
  	<select id="selectEventList" resultMap="eventResultSet">
  		select
		        ev_no
		     ,  user_id
		     , ev_title
		     , ev_content
		     , ev_starttime
		     , ev_endtime
		     , click_no
		     , ev_date
		     , ev_thumb
		  from event e
		  join member using (user_no)
		 where (e.status = 'A' or e.status = 'B')
		 order 
		    by ev_no desc 
  	</select>
  	
  	<update id="increaseCount" parameterType="_int"	>
  		update 
  			    event
  		   set  click_no = click_no +1
  		 where  ev_no = #{eno} 
  	</update>
  	
  	<select id="selectEvent" parameterType="_int" resultMap="eventResultSet">
  		select
  			   ev_no
  			 , user_id  
  			 , ev_title
  			 , ev_content
  			 , ev_starttime
  			 , ev_endtime
  			 , beer_name
  			 , req_time
  			 , limit_no
  			 , apply_no
  			 , ev_point
  			 , ev_date
  			 , ev_thumb
  	      from event e
  	      join member using(user_no)
  	      join beer using(beer_no)
  	     where (e.status = 'A' or e.status = 'B') 
  	       and ev_no = #{eno}
  	</select>
  	
  	<insert id="insertEvent" parameterType="Event">
  		insert
  		  into event
  		  (
  		  	ev_no
  		  , user_no
  		  , ev_title
  		  , ev_content
  		  , ev_starttime
  		  , beer_no
  		  , req_time
  		  , limit_no
  		  , ev_point
  		  , ev_date
  		  , ev_thumb
  		  )
  		  values
  		  (
  		    seq_ev_no.nextval
  		  , #{userNo}
  		  , #{evTitle}
  		  , #{evContent}
  		  , #{evStartTime}
  		  , #{beerNo}
  		  , #{reqTime}
  		  , #{limitNo}
  		  , #{evPoint}
  		  , sysdate
  		  , #{evThumb}
  		  )
  	</insert>
  
  	 
  	<insert id="insertAttachment" parameterType="Attachment">
  		insert
  		  into attachment
  		  (
  		  	att_no
  		  , origin_name
  		  , change_name
  		  , ev_no
  		  )
  		  values
  		  (
  		  	seq_att_no.nextval
  		  , #{originName}
  		  , #{changeName}
  		  , seq_ev_no.currval
  		  )
  	</insert>
  	
  	<select id="selectEvAttachment" parameterType="_int"
  		    resultMap="AttachmentResultSet">
  		select
  				att_no
  			  , origin_name
  			  , change_name
  		   from attachment
  		  where ev_no  = ${eno} 
  	</select>
  	
  	<update id="decreasePoint" parameterType="EventAttendee">
  		update
  			    member
  		   set  point = point - abs(#{evPoint})
  		 where  user_no = #{userNo}
  		   and  point >= abs(#{evPoint})
  	</update>
  	
  	<insert id="applyEvent" parameterType="EventAttendee">
  		insert
		 into event_attendee
		 (
		   evat_no
		 , ev_no
		 , user_no
		 , event_entry_status
		 )
		 values
		 (
		   SEQ_EVAT_NO.nextval
		 , #{evNo}
		 , #{userNo}
		 , 'Y'
		 )	   
  	</insert>
  	
  	<select id="checkApplyEvent"
  		    resultType="_int" parameterType="EventAttendee">
  		select
		       count(*)
		  from event_attendee
		 where user_no = #{userNo}
		   and ev_no = #{evNo}
		   and event_entry_status = 'Y'
  	</select>
  	
  	<select id="searchEventCount" resultType="_int"
  			parameterType="hashmap">
  		select
  			   count(*)
  		  from event
  		 where (status = 'A' or status = 'B')
  		 <if test="category == 'catTitle'">
  		   and ev_title
  		 </if>  
  		 <if test="category == 'catContent'">
  		 	and ev_content 
  		 </if>
  		 	like '%' || #{searchWord} || '%'
  	</select>
  	
  	<select id="searchEventList" parameterType="hashmap"
  			resultMap="eventResultSet">
  		select
  		   	    ev_no
		     ,  user_id
		     , ev_title
		     , ev_content
		     , ev_starttime
		     , ev_endtime
		     , click_no
		     , ev_date
		     , ev_thumb
		  from event e
		  join member using (user_no)
		 where (e.status = 'A' or e.status = 'B')
		 <choose>
		 	<when test="category == 'catTitle'">
		 		and ev_title
		 	</when>
		 	<when test="category == 'catContent'">
		 		and ev_content 
		 	</when>
		 </choose>
		  like '%' || #{searchWord} || '%'
		 order 
		    by ev_no desc
  	</select>
  	
  	<select id="selectEvReplyList"
  		    parameterType="_int" resultMap="EvReplyResultSet">
  		select
		       ev_rpno
		     , user_id
		     , ev_rpcontent
		     , rp_date
		  from ev_reply er
		  join member using(user_no)
		 where ev_no = #{eno}
		   and er.status = 'Y'
		 order
		    by ev_rpno desc
  	</select>
  	
  	<insert id="insertEvReply" parameterType="EvReply">
		insert
		  into ev_reply
		  (
		    ev_rpno
		  , ev_no
		  , user_no
		  , ev_rpcontent
		  , rp_date
		  , status
		  )
		  values
		  (
		    seq_ev_rpno.nextval
		  , #{evNo}
		  , #{userNo}
		  , #{evRpContent}
		  , sysdate
		  , 'Y'
		  )
	</insert>
	
	<update id="increaseApplyNo" parameterType="EventAttendee">
		update
		       event
		   set apply_no = apply_no +1
		 where ev_no = #{evNo}
		   and limit_no > apply_no
	</update>
</mapper>
