<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupBuyMapper">
	<resultMap id="groupBuyResultSet" type="GroupBuy">
		<result column="pno" property="pno"/>
		<result column="user_id" property="userNo"/>
		<result column="pname" property="gbName"/>
		<result column="price" property="price"/>
		<result column="content" property="content"/>
		<result column="gb_start" property="gbStart"/>
		<result column="gb_end" property="gbEnd"/>
		<result column="gb_point" property="gbPoint"/>
		<result column="gb_thumb" property="gbThumb"/>
		<result column="status" property="status"/>
		<result column="limit_no" property="limitNo"/>
		<result column="apply_no" property="applyNo"/>
		<result column="click_no" property="clickNo"/>	
		<result column="gb_date" property="gbDate"/>		
	</resultMap>

	<resultMap id="AttachmentResultSet" type="Attachment">
		<result column="att_no" property="attNo"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="ev_no" property="evNo"/>
		<result column="pno" property="pNo"/>
	</resultMap>
	
	<resultMap id="GbRequestResultSet" type="GbRequest">
		<result column="request_no" property="requestNo" />
		<result column="pno" property="pno" />
		<result column="user_no" property="userNo" />
		<result column="req_status" property="reqStatus" />
		<result column="address" property="address" />
		<result column="gb_point" property="gbPoint" />
	</resultMap>
		
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from group_buy
		 where status = 'Y'
	</select>
	
	<select id="selectGroupBuyList" resultMap="groupBuyResultSet">
		select
		       pno
		     , user_id
		     , pname
		     , price
		     , content
		     , gb_start
		     , gb_thumb
		     , click_no
		     , gb_date
		 from group_buy g
		 join member using (user_no)
		where g.status = 'Y'
		order 
		   by pno desc
	</select>
	
	<update id="increaseCount" parameterType="_int">
		update
		  	   group_buy
		   set click_no = click_no + 1
		 where pno = ${gno}  
	</update>
	
	<select id="selectGroupBuy" parameterType="_int" resultMap="groupBuyResultSet">
		select
		       pno
		     , user_id
		     , pname
		     , price
		     , content
		     , gb_start
		     , gb_end
		     , gb_point
		     , gb_thumb
		     , gb.status
		     , limit_no
		     , apply_no
		     , click_no
		     , gb_date
		  from group_buy gb
		  join member using (user_no)
		 where pno = #{gno}
		   and gb.status = 'Y'  
	</select>
	
	<select id="selectGbAttachment" parameterType="_int" 
			resultMap="AttachmentResultSet">
		select
  				att_no
  			  , origin_name
  			  , change_name
  		   from attachment
  		  where pno = ${gno}  
	</select>
	
	<update id="increaseApplyNo" parameterType="GbRequest">
		update
			   group_buy
		   set apply_no = apply_no +1
		 where pno = #{pno}
		   and limit_no > apply_no 
	</update>
	
	<update id="decreasePoint"  parameterType="GbRequest">
		update
				member
		   set  point = point - abs(#{gbPoint})
		 where  user_no = #{userNo}
		   and  point >= abs(#{gbPoint})
	</update>
	
	<insert id="applyGroupBuy" parameterType="GbRequest">
		insert
		  into gb_request
		  (
		    request_no
		  , pno
		  , user_no
		  , req_status
		  , address
		  , gb_point
		  )
		  values
		  (
		    seq_request_no.nextval
		  , #{pno}
		  , #{userNo}
		  , 'R'
		  , #{address}
		  , #{gbPoint}
		  )
	</insert>
	
	<select id="checkApplyGroupBuy"
			resultType="_int" parameterType="GbRequest">
		select
			   count(*)
	      from gb_request
	     where user_no = #{userNo}
	       and pno = #{pno}
	       and (req_status = 'R' or req_status= 'C')
	</select>
</mapper>
