<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
	<resultMap type="Notice" id="noticeResultSet">
		<result column="notice_no" property="noticeNo"/>
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="notice_title" property="noticeTitle"/>
		<result column="notice_content" property="noticeContent"/>
		<result column="notice_date" property="noticeDate"/>
		<result column="count" property="count"/>
	</resultMap>
	
	
	<resultMap type="NoComment" id="ncoResultSet">
		<result column="nco_no" property="ncoNo"/>
		<result column="notice_no" property="noticeNo"/>
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="nco_comment" property="ncoComment"/>
		<result column="nco_date" property="ncoDate"/>
		<result column="status" property="status"/>
	</resultMap>
	

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from notice
		 where status = 'Y'
	</select>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
		select
		       notice_no
		     , user_id
		     , notice_title
		     , notice_date
		     , count
		  from notice
		  join member using(user_no)
          where
            notice.status = 'Y'
		 order
		    by notice_no desc			
	</select>
	
	<select id="selectNotice" resultMap="noticeResultSet" parameterType="_int">
		select
		       notice_no
		     , user_id
		     , notice_title
             , notice_content
		     , notice_date
		     , count
		  from notice
		  join member using(user_no)
          where
            notice.status = 'Y' and notice_no = #{nno}
	</select>
	
	<update id="increaseCount" parameterType="_int">
	  update 
		      notice
		  set count = count + 1
		where notice_no = #{nno}
		  and status = 'Y'
	</update>
	
	<select id="selectNcommentList" resultMap="ncoResultSet"
	 		parameterType="_int">
		select 
		       nco_no
		     , user_id
		     , nco_comment
		     , to_char(nco_date, 'YYYY-MM-DD') "nco_date"
		  from ncomments n
		  join member using(user_no)
		 where n.notice_no = #{nno}
		   and n.status = 0
		 order
		    by nco_no desc
	</select>
	 
	
	<insert id="insertNcomment" parameterType="NoComment">
		insert
		    into ncomments
		    (
		        nco_no
		      , notice_no
		      , user_no
		      , nco_comment
		      , nco_date
		    )
		     values
		     (
		       seq_nco_no.nextval
		     , #{noticeNo}
		     , #{userNo}
		     , #{ncoComment}
		     , sysdate
		     )
	</insert>
	 
	<!-- 검색 후 갯수 --> 
	 <select id="searchNoticeListCount" resultType="_int"
	 		 parameterType="hashmap">
	 	 select
		       count(*)
		  from notice n
		  join member using(user_no)
		 where n.status = 'Y'
		 <choose>
		    <when test="condition == 'title'">  
		       AND notice_title
		    </when>  
		    <otherwise>
		       AND notice_content
		    </otherwise> 	     
		 </choose>		 
		       LIKE '%' || #{keyword} || '%' 
	 </select>
	 
	 <!-- 검색 후 리스트 -->
	 <select id="searchNoticeList" resultMap="noticeResultSet"
	 		  parameterType="hashmap">
	 	select
		       notice_no
		     , user_id
		     , notice_title
		     , notice_date
		     , count
		  from notice n
		  join member using(user_no)
		 where n.status = 'Y'
		 <choose>
		    <when test="condition == 'title'">  
		       AND notice_title
		    </when>  
		    <otherwise>
		       AND notice_content
		    </otherwise> 	     
		 </choose>		 
		       LIKE '%' || #{keyword} || '%' 
		 order
		    by notice_no desc
	 </select>
	 
	 
	 
	
	
	
	
	
</mapper>
