<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
	<resultMap type="Notice" id="noticeResultSet">
		<result column="notice_no" property="noticeNo"/>
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="notice_title" property="noticeTitle"/>
		<result column="notice_content" property="noticeContent"/>
		<result column="notice_date" property="noticeDate"/>
		<result column="count" property="count"/>
	</resultMap>
	
	
	<resultMap type="NoComment" id="ncoResultSet">
		<result column="nco_no" property="ncoNo"/>
		<result column="notice_no" property="noticeNo"/>
		<result column="user_no" property="userNo"/>
		<result column="nco_comment" property="ncoComment"/>
		<result column="nco_date" property="ncoDate"/>
		<result column="status" property="status"/>
	</resultMap>
	

	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from notice
		 where status = 'Y'
	</select>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
		select
		       notice_no
		     , user_id
		     , notice_title
		     , notice_date
		     , count
		  from notice
		  join member using(user_no)
          where
            notice.status = 'Y'
		 order
		    by notice_no desc			
	</select>
	
	<select id="selectNotice" resultMap="noticeResultSet" parameterType="_int">
		select
		       notice_no
		     , user_id
		     , notice_title
             , notice_content
		     , notice_date
		     , count
		  from notice
		  join member using(user_no)
          where
            notice.status = 'Y' and notice_no = #{nno}
	</select>
	
	<update id="increaseCount" parameterType="_int">
	  update 
		      notice
		  set count = count + 1
		where notice_no = #{nno}
		  and status = 'Y'
	</update>
	
	<select id="selectNcommentList" resultMap="ncoResultSet"
	 		parameterType="_int">
		select 
		       nco_no
		     , user_id
		     , nco_comment
		     , to_char(nco_date, 'YYYY-MM-DD') "nco_date"
		  from ncomments
		  join member using(user_no)
		 where notice_no = #{nno}
		   and ncomments.status = 0
		 order
		    by nco_no desc
	</select>
	 
	
	<insert id="insertNcomment" parameterType="NoComment">
		insert
		    into ncomments
		    (
		        nco_no
		      , notice_no
		      , user_no
		      , nco_comment
		    )
		     values
		     (
		       seq_nco_no.nextval
		     , #{noticeNo}
		     , #{userNo}
		     , #{ncoComment}
		     )
	</insert>
	 
	
	
	
	
	
</mapper>
