<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<!-- 별칭등록자리 -->
		<typeAlias type="com.beer.macSim.member.model.vo.Member" alias="Member"/>
		<!--<typeAlias type="com.beer.macSim.data.model.vo.Score" alias="Score"/> -->
		<typeAlias type="com.beer.macSim.event.model.vo.Event" alias="Event"/>
		<typeAlias type="com.beer.macSim.groupBuy.model.vo.GroupBuy" alias="GroupBuy"/>
		<typeAlias type="com.beer.macSim.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.beer.macSim.data.model.vo.Beers" alias="Beers"/>
		<typeAlias type="com.beer.macSim.administer.model.vo.Report" alias="Report"/>
		<typeAlias type="com.beer.macSim.administer.model.vo.SelectData" alias="SD"/>
		<typeAlias type="com.beer.macSim.community.model.vo.Community" alias="Community"/>
	</typeAliases>
	
	<!-- 원래는 DB접속과 관련된 내용들을 작성했었음!! => 다른곳(root-context)에서 할 예정 -->
	
	<!-- 사용할 메퍼파일등록자리 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/event-mapper.xml"/>
		<mapper resource="/mappers/groupBuy-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/community-mapper.xml"/>
	</mappers>



</configuration>